.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: sienna;
  background-image: url("https://i.imgur.com/LiENbZq.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color:  rgba(54, 243, 7, 0.5);
}

.submit-button {
  background-color:  rgba(101, 241, 66, 0.5);
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.5)
}

button:hover {
  background-color: rgb(240, 218, 218);
  transform: scale(1,1.1);
}

.search-bar {
  background-color:  rgba(145, 245, 120, 0.5);
  border-radius: 2px;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
}



